.weatherInfo {
  font-size: 1rem;
  border: 1px solid black;
  position: absolute;
  top: 30vh;
  left: 10vw;
  padding: 3em;
  & h2 {
    font-size: 2.5rem;
  }
  & h5 {
    font-size: 1.25rem;
    font-style: italic;
  }
  & h1 {
    margin-bottom: 1rem;
  }
}

li {
  font-size: 0.85rem;
  list-style: none;
  line-height: 1.5rem;
}

.propertyName {
  min-width: 125px;
  display: inline-block;
}
